html {
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  background: #eaeaea;
  position: absolute;
}

.page-centered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-container {
  background: white;
  display: flex;
  width: 600pt;
}

.form {
  width: 300pt;
  background: #ffffff;
  padding: 20pt;
  border-radius: 8pt;
}

.form-lg {
  width: 600pt;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20pt;
}

.job-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.job-list {
  width: 600pt;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20pt;
  padding-top: 10pt;
}

.job-preview {
  padding: 10pt 20pt 10pt 20pt;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}

.pagination {
  display: flex;
  list-style: none;

  border-radius: 4pt;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20pt;
}

.user-preview {
  border-radius: 4pt;

  border: 1px solid lightgray;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.user-preview:hover {
  background: #eaeaea;
}
.usernames {
  display: flex;
  flex-direction: column;
}

.close-text {
  line-height: 90%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20pt;
}
